{% extends 'base.html.twig' %}

{% block title %}Actualité DTS{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 

    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/> 
    <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet"/> 

    

   </head>
   <body>
      
                    

       
   <main>
   <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        
                    </div>
                </div>
            </div>
        
   <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Actualités </h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>
	

<br>
<br>
           
    

{% for actualite in actualites%}
<section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                            <img src="{{vich_uploader_asset(actualite,'imageFile')}}" >

                                <a href="#" class="blog_item_date">
                                    <h3>{{ actualite.createdAt|date("m/d/Y", "Europe/Paris")}}</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                <h2>Bienvenu<span> Chez DTS </span><br>  {{actualite.titre}}</h2>
                                </a>
                                <p>{{actualite.contenu}}</p>
                                <a href="{{path('actualite_show',{'id': actualite.id})}}" class="about-info-btn">Lire la suite</a>
                               </div>
                            </div>
                        </article>
                        </div>
                        </div>
                        </div>
                        </section>

            {% endfor %}

</main>
  
  
        
  </body>
      

{% endblock %}

