{% extends 'base.html.twig' %}

{% block title %}actualiteindex{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/> 
    

   </head>
   <body>
      
                    

       
   <main>
       


    <h1>actualite index</h1>
            {% for actualite in actualites%}
            <div class="about">
    <div class="row">
		<div class="col-md-6">
			<div class="about-info">
				<h3>welcome <span>carlos site</span>{{actualite.titre}}</h3>
				<p class="about-info-desc">
			{{actualite.contenu}}
        </p>
        <br>
        <a href="{{path('actualite_show',{'id': actualite.id})}}" class="read_btn">Read more</a>

 
			</div>
			
		</div>
				<div class="col-md-6">
					<div class="about-img">
						<img src="{{actualite.image}}">
            </div>

            </div>


</div>
<br>
            {% endfor %}

</main>
  
  
        
  </body>
      

{% endblock %}
