{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
     <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 

    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/> 

    

   </head>
    <div class="about">
    <div class="row">
		<div class="col-md-6">
			<div class="about-info">
				<h3>welcome <span>carlos site</span>{{actualite.titre}}</h3>
				<p class="about-info-desc">
			{{actualite.contenu}}
        </p>
        <br>

 
			</div>
           
			
		</div>
				<div class="col-md-6">
					<div class="about-img">
						<img src="{{actualite.image}}">
            <br>
            <br>
            </div>
</div>

            </div>


</div>

    <a href="{{ path('actualite_index') }}" class="btn">back to list</a>
    <br>
    <br>


{% endblock %}
