{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 
    

   </head>
    <h1>Actaulité</h1>

    <div class="g-caption1">
                                    <h4>{{actualite.titre}}</h4>
                                </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="{{ actualite.image }}"alt="">
                                </div>
                              
                                <div class="g-caption2">                
                                    <p>{{ actualite.contenu}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>

    <a href="{{ path('actualite_index') }}" class="btn">back to list</a>


{% endblock %}
