{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body%}
<h1> creation un article !</h1>

{{form_start(formArticle)}}
{{form_row(formArticle.title, {'attr':{'placeholder':" titre de l'article"}})}}
{{form_row(formArticle.content, {'attr':{'placeholder':" contenu de l'article" }})}}

{{form_row(formArticle.image, {'attr':{'placeholder':" l'image de larticle"}})}}

<button type="submit" class="btn btn-sucess" style="color: blueviolet;">
    {% if editmode %}
    
    modifier
    {% else %}
    
    
    ajouter l'article</button>
{% endif %}
{{form_end(formArticle)}}

{%endblock%}