{% extends 'base.html.twig'%}

 








{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 
     <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/>

    

   </head>

   <body>
       
   
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" style="background-image:url('{{ asset('images/25.jpg') }}')">

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption" style="background-image:url('{{ asset('images/color_bg.png') }}')">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">DIAMANT TECHNOLOGY SOLAR </h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">



<p>Vous voulez economisez jusqu'a 100% sur votre facture steg ? Nos solutions photovoltaiques sont adaptées a vos besoins et habitudes</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                                        <a href="/product" class="btn hero-btn">Notre Produit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- slider Area End-->
        <br>
        <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Notre Services </h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>

        <!-- Services DTS-->
        <div class="services-area d-flex justify-content-lg-between">
            <div class="single-services s-bg mb-30">
                <div class="services-icon">
                    <img src="{{ asset('images/icon/1.ico') }}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Photovoltaïque Résidentiel</h4>
                    <p> DTS développe et anime un réseau d’installateurs qualifiés et expérimentés pour la pose de toutes nos solutions:panneaux photovoltaïques, systèmes de stockage batterie et de gestion intelligente de l’énergie.</p>
                </div>
                <div class="services-btn">
                    <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt="Symfony!"/>
</a>
                </div>
            </div>
            <div class="single-services mb-30">
                <div class="services-icon">
                <img src="{{ asset('images/icon/5.ico') }}" alt="Symfony!"/>
                </div>
                <div class="services-caption">
                    <h4>Service Exploitation & Maintenance</h4>
                    <p>DTS est une société axée sur la clientèle, qui vise à fournir un excellent service grâce à une collaboration continue avec les clients</p>
                </div>
                <div class="services-btn">
                    <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt="sy"></a>
                </div>
            </div>
            <div class="single-services s-bg mb-30">
                <div class="services-icon">
                    <img src="{{ asset('images/icon/4.ico') }}" alt="">
                </div>
                <div class="services-caption">
                    <h4>Bureau d’études photovoltaïque</h4>
                    <p>DTS apporte son expertise de Bureau d’études photovoltaïque aux maîtres d’ouvrage publics et privés pour mettre en œuvre leurs projets d’installations photovoltaïques :</p>
                </div>
                <div class="services-btn">
                    <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt=""></a>
                </div>
            </div>
            <div class="single-services mb-30">
                <div class="services-icon">
                <img src="{{ asset('images/icon/6.ico') }}" alt="Symfony!"/>
                </div>
                <div class="services-caption">
                    <h4>Photovoltaïque pour irrigation</h4>
                    <p>L’irrigation représente, dans les exploitations agricoles totalement dédiées à la production végétale, la part la plus importante de la consommation énergétique</p>
                </div>
                <div class="services-btn">
                    <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt="sy"></a>
                </div>
            </div>
            <div class="single-services mb-30">
                <div class="services-icon">
                <img src="{{ asset('images/icon/3.ico') }}" alt="Symfony!"/>
                </div>
                <div class="services-caption">
                    <h4>Photovoltaïque Commercial & Industriel</h4>
                    <p>Des panneaux photovoltaïques ultra-résistants et performants	Des solutions pour le stockage de l’électricité solaire	Une qualité premium « Made in Germany »	30 ans de garantie produit et rendement	Un service zéro risque d’assurance
</p>
                </div>
                <div class="services-btn">
                    <a href="industries.html" class="arrow-btn"><img src="{{ asset('images/icon/arrow_icon.png') }}" alt="sy"></a>
                </div>
            </div>
            
            
        </div>
        
        <!-- Services Area End -->

        <!-- Safe Industery Start -->
        <div class="safe-industery-area section-padd-top30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md pr-0">
                        <div class="safe-caption pt-10 mb-40">
                            <h2>DIAMANT TECHNOLOGY SOLAR </h2>
                            <p class="safe-pera-one">DTS est gérée par des cadres supérieurs et des managers spécialisés dans le domaine des semi-conducteurs, de l'ingénierie informatique et de l'électronique, avec une expérience sur la scène internationale.</p>
                            <p  class="safe-pera-two"> Dotés d'une expérience industrielle dans la fabrication de cellules solaires et d'un partenariat tout au long de la chaîne de valeur du solaire, nous savons quelle(s) technologie(s) recommander à nos clients pour assurer leur tranquillité d'esprit dans leur investissement. </p>
                            <p  class="safe-pera-three"> </p>
                            <!-- btn -->
                            <a href="/about" class="btn">Qui sommes-nous?</a>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                        <div class="safe-caption-right">
                            <div class="safe-img">
                                <img src="{{ asset('images/team/h1__team.png') }}" alt="">
                            </div>
                            <!-- img TOP caption -->
                            <div class="safe-alert-box">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">
                                        
                                        <div class="safe-alert" style="background-image:url('{{ asset('images/color_bg.png') }}')">
                                            <img src="{{ asset('images/icon/aleart_icon.png') }}" alt="">
                                            <h4>DTS OBJECTIF</h4>
                                            <p>Assurer auprès du client un rôle de conseil et d’assistance dans le choix des solutions les mieux adaptées à son contexte.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Safe Industery End -->
        <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Nos Produits</h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>
            <br>
            <br>

        <!-- Gallery Start-->
        <div class="gallery-area">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="{{ asset('images/2.jpg') }}" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>01.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>01.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href="work.html" class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="{{ asset('images/nn.jpg') }}" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>02.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>02.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href="work.html" class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="{{ asset('images/nn.jpg') }}" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>03.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>03.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href="work.html" class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="gallery-box">
                            <div class="single-gallery">
                                <div class="gallery-img">
                                    <img src="{{ asset('images/2.jpg') }}" alt="">
                                </div>
                                <div class="g-caption1">
                                    <span>04.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                </div>
                                <div class="g-caption2">
                                    <span>04.</span>
                                    <h4>Floride Chemicals Factory</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                                    <a href="work.html" class="read-btn">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Gallery End-->
      

        <!-- Team Start -->
        <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Notre Equipe </h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>
            
        <div class="team-area section2-padding30">
            <div class="container">
                <div class="row">
                    <!-- Team Info -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="team-info mb-30 pt-45">
                          <h2>Our Team Best Mambers</h2>  
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ua. Ut enim ad minim veni.</p>

                          <a href='equipe' class="btn">Notre Equipe</a>
                        </div>
                    </div>
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{{ asset('images/team/h1__team.png') }}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">Bruce Roberts</a></span>
                                <p>Team Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{{ asset('images/team/h2__team.png') }}" alt="">
                            </div>
                            <div class="team-caption">
                                 <span><a href="#">Bruce Roberts</a></span>
                                <p>Team Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{{ asset('images/team/h3__team.png') }}" alt="">
                            </div>
                            <div class="team-caption">
                                 <span><a href="#">Bruce Roberts</a></span>
                                <p>Team Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{{ asset('images/team/h4__team.png') }}" alt="">
                            </div>
                            <div class="team-caption">
                                 <span><a href="#">Bruce Roberts</a></span>
                                <p>Team Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                            <img src="{{ asset('images/team/h5__team.png') }}" alt="">

                            </div>
                            <div class="team-caption">
                                 <span><a href="#">Bruce Roberts</a></span>
                                <p>Team Officer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Les actualités  </h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>
            <br> <br>
        
        {% for actualite in actualites%}
        {% if actualite.id  in [14, 15, 16] %}
            <div class="about">
    <div class="row">
		<div class="col-md-6">
			<div class="about-info">
				<h3>Bienvenu<span> Dans DTS Site</span><br>
        {{actualite.titre}}</h3>
				<p class="about-info-desc">
			{{actualite.contenu}}
        </p>
        <br>
        
        <a href="{{path('actualite_show',{'id': actualite.id})}}" class="about-info-btn">Read more</a>

 
			</div>
			
		</div>
    <br>
				<div class="col-md-6">
					<div class="about-img">
						<img src="{{vich_uploader_asset(actualite,'imageFile')}}">
            </div>


            </div>


</div>
<br>
{%endif%}
            {% endfor %}


    
               

       
    </main>
  
  
        
    </body>
</html>



{% endblock %}
