{% extends 'base.html.twig'%}
{% block title %}Notre Equipe !{% endblock %}

{% block body %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Equipe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    
		<!-- CSS here -->
    <link href="{{ asset('css/st.css') }}" rel="stylesheet"/> 
    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet"/> 

    

   </head>

   <body>
    <main>
    <div class="team-area section2-padding30">
    <section class="sections about">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-title">Notre Equipe</h2>
			<div class="line"><span></span>
    
      
			</div></div></div></section>
            <br>
            <div class="container">
                <div class="row">
                    <!-- Team Info -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="team-info mb-30 pt-45">
                          <h2>Our Team Best Mambers</h2>  
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ua. Ut enim ad minim veni.</p>

                          <a href='/contact' class="btn">Contact Us</a>
                        </div>
                    </div>
                    <!-- single Tem -->
                    {% for equipe in equipes%}

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{{vich_uploader_asset(equipe,'imageFile')}}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">{{equipe.Nom}}</a></span>
                                <p>{{equipe.service}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
        <!-- Team End -->
</main>
</body>
{% endblock %}